*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(/img/bg.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
}

h1{
  text-align: center;
  margin-top: 100px;
  color: rgb(255, 255, 255);
}